.modalBackground {
  height: 100vh !important;
  width: 100vw !important;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  background: var(--dark-blue-background);
  padding: 2%;
  border-radius: 1rem;
}
