@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-dark-blue-background: #171e29;
  --dark-blue-background: #252e40;
  --light-blue-accent: #516a90;
  --light-blue-border: #5d79a5;
  --text-highlight: #98BEF9;
  --dark-border: #708397;
  --white-text: #f0f8ff;
  --gray-text: #aaa;
}

.whiteText{
  color: var(--white-text)
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  background-color: #252e40;
}
